/* druck.css */

img
{
  border-width:0;
}

body
{
  font-family:Verdana, sans-serif;
  font-size:10pt;
  color:#000000;
  background-image:none;
}

#info_balken
{
  font-size:28pt;
  font-weight:bold;
  width:100%;
  border-bottom:3px solid black;
  letter-spacing:-3px;
}
#url
{
  float:left;
  font-size:8pt;
}

#toolserver_text
{
  display:none; 
}

#navigation
{
  margin-top:4px;
  float:right;
}

/* Inhalt */
#inhalt
{
  margin-top:80px;
}

#inhalt h1
{
  border-bottom:1px solid #000000;
  font-size:20pt;
}

/* Unterer weisser Balken fuer Impressum... */
#navi_balken
{
  display:none;
}

/* Besucheranzahl / Copyrighthinweis */
#copyright
{
  margin-top:30px;
  width:100%;
  text-align:center;
}
#xhtml
{
  display:none;
}
